In [4]:
import os
import datetime
import joblib

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [1]:
!pwd

/Users/raphaelmenguy/code/projet_wagon/elaine_and_the_gentle_boyz/notebooks

In [2]:
cd ..

/Users/raphaelmenguy/code/projet_wagon/elaine_and_the_gentle_boyz

In [9]:
pd.read_csv('data/meteo-france.csv',sep=';')

,POSTE,NOM,LON,LAT,ALT,DATE,RR,QRR,TN,QTN,...,UN,QUN,UX,QUX,DHUMI40,QDHUMI40,DHUMI80,QDHUMI80,UM,QUM
0,1089001,AMBERIEU,"5�19'45""E","45�58'35""N",250,20200101,"0,0",v,"-2,2",v,...,97.0,v,98.0,v,0.0,t,1440.0,t,97.0,v
1,1089001,AMBERIEU,"5�19'45""E","45�58'35""N",250,20200102,"0,0",v,"-1,8",v,...,69.0,v,99.0,v,0.0,t,860.0,t,86.0,v
2,1089001,AMBERIEU,"5�19'45""E","45�58'35""N",250,20200103,"0,4",v,"3,3",v,...,71.0,v,95.0,v,0.0,t,620.0,t,81.0,v
3,1089001,AMBERIEU,"5�19'45""E","45�58'35""N",250,20200104,"0,6",v,"3,4",v,...,74.0,v,97.0,v,0.0,t,1168.0,t,89.0,v
4,1089001,AMBERIEU,"5�19'45""E","45�58'35""N",250,20200105,"0,0",v,"-3,4",v,...,77.0,v,97.0,v,0.0,t,1395.0,t,92.0,v
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53419,95527001,ROISSY,"2�32'03""E","49�00'54""N",108,20210417,"0,0",v,"2,6",v,...,36.0,v,89.0,v,239.0,t,357.0,t,62.0,v
53420,95527001,ROISSY,"2�32'03""E","49�00'54""N",108,20210418,"0,0",v,"2,0",v,...,45.0,v,90.0,v,0.0,t,349.0,t,66.0,v
53421,95527001,ROISSY,"2�32'03""E","49�00'54""N",108,20210419,"0,0",v,"3,3",v,...,36.0,v,86.0,v,226.0,t,403.0,t,60.0,v
53422,95527001,ROISSY,"2�32'03""E","49�00'54""N",108,20210420,"0,0",v,"5,7",v,...,28.0,v,85.0,v,358.0,t,215.0,t,56.0,v
53423,95527001,ROISSY,"2�32'03""E","49�00'54""N",108,20210421,"0,0",v,"6,5",v,...,36.0,v,84.0,v,40.0,t,151.0,t,61.0,v

In [5]:
dataset = joblib.load('training_data/final_dataset.pkl')

In [7]:
df_mutant = pd.read_csv('data/processed_dataframes/presence_mutant.csv')
to_delete= list(df_mutant.columns[2:]) + ['dc_tot'] + ['nbre_dose_1','nbre_dose_complet','nbre_cum_dose_1',
                                                      'nbre_cum_complet','couverture_dose1','couverture_complete',
                                                      'esms_dc','conf','test_positifs_femmes', 'tests_positifs_hommes',
                                                      'tests_positifs_tot','pop_femme','pop_homme']
to_delete

['nbre_positif',
 'taux_crib',
 'nbre_A0',
 'nbre_A1',
 'taux_A1',
 'nbre_B0',
 'nbre_B1',
 'taux_B1',
 'nbre_C0',
 'nbre_C1',
 'taux_C1',
 'dc_tot',
 'nbre_dose_1',
 'nbre_dose_complet',
 'nbre_cum_dose_1',
 'nbre_cum_complet',
 'couverture_dose1',
 'couverture_complete',
 'esms_dc',
 'conf',
 'test_positifs_femmes',
 'tests_positifs_hommes',
 'tests_positifs_tot',
 'pop_femme',
 'pop_homme']